<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="page-title">{{ title }}</h1>
  <tooltip message="Tooltip for the button A">
    <button type="button" class="btn btn-primary btn-a" title="Button A"
    (click)="onButtonClick()" element-with-tooltip>Button A</button>
  </tooltip>
  <tooltip message="Tooltip for the button B">
    <button type="button" class="btn btn-primary" title="Button B"
    (click)="onButtonClick()" element-with-tooltip>Button B</button>
  </tooltip>
</div>
